@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

:root {
    --cls-white: #fff;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.separate {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.loader {
    margin: 0 auto;
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
}

.loader--logo {
    animation: loaderSpin infinite 2.5s linear;
    height: 4rem;
    fill: yellow;
}

.loading--data {
    color: yellow;
}

@keyframes loaderSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    width: 80%;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container__starWars {
    width: 40%;
    margin: 0 auto;
}

.container__text {
    color: azure;
    text-align: center;
    text-transform: uppercase;
}

.toc {
    width: 20vw;
    background-color: rgb(228, 212, 212);
    /* position: fixed;
    left: 0; */
    background-color: #042331;
}

.toc header {
    font-size: 22px;
    color: black;
    text-align: center;
    line-height: 70px;
    background-color: #063146;
    user-select: none;
}

.toc ul {
    padding: 10px;
}

li {
    list-style-type: none;
}

.toc__link {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    margin-bottom: 7px;
    color: white;
    font-size: 15px;
    padding-left: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
}

.pepe {
    font-size: 10px;
    color: white;
    text-transform: uppercase;
}

.details {
    width: 80vw;
    position: relative;
}

.details__title {
    color: white;
    text-align: center;
}

.details__abstract {
    color: white;
    padding-left: 10px;
    font-size: 1rem;
    max-width: 95%;
}

.details__director {
    color: var(--cls-white);
    display: flex;
    justify-content: center;
}

.details__description {
    padding-left: 10px;
    color: var(--cls-white);
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
    font-weight: 800;
}

.details__characters {
    color: var(--cls-white);
    padding-left: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}
