@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

:root {
    --cls-white: #fff;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.loader {
    margin: 0 auto;
    background-color: black;
    min-width: 80%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader-films {
    margin-left: 20%;
}

.loader--logo {
    animation: loaderSpin infinite 2.5s linear;
    height: 4rem;
    fill: yellow;
}

.loading--data {
    color: yellow;
}

@keyframes loaderSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container__home {
    width: 80%;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 20%;
}

.container__home__starWars {
    width: 40%;
    margin: 0 auto;
}

.container__home__text {
    color: azure;
    text-align: center;
    text-transform: uppercase;
}

.container__toc {
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #042331;
}

.container__toc header {
    font-size: 22px;
    color: black;
    text-align: center;
    line-height: 70px;
    background-color: #063146;
    user-select: none;
}

.container__toc ul {
    padding: 10px;
}

li {
    list-style-type: none;
}

.container__toc__link {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    margin-bottom: 7px;
    color: white;
    font-size: 15px;
    padding-left: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
}

.container__toc__link:hover {
    opacity: 0.7;
    background-color: #18516b;
}

.container__toc__episode {
    font-size: 10px;
    color: white;
    text-transform: uppercase;
}

.container__details__title {
    color: black;
    text-align: center;
}

.container__details__abstract {
    color: black;
    padding-left: 10px;
    font-size: 1rem;
    max-width: 95%;
}

.container__details__director,
.container__details__producer,
.container__details__release_date {
    color: black;
    display: flex;
    justify-content: center;
}

.container__details__label {
    padding-left: 10px;
    color: black;
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
    font-weight: 800;
}

.container__details__characters,
.container__details__planets {
    color: black;
    padding-left: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.heart {
    cursor: pointer;
}

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Mobile */

@media only screen and (max-width: 480px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .loader-films,
    .container__home {
        margin-left: 0;
    }

    .container__toc {
        position: relative;
    }

    .container__toc,
    .loader,
    .container__home {
        width: 100%;
    }
    .container__details__characters,
    .container__details__planets {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Tablet */

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .loader-films,
    .container__home {
        margin-left: 0;
    }

    .container__toc {
        position: relative;
    }

    .container__toc,
    .loader,
    .container__home {
        width: 100%;
    }

    .container__details__characters,
    .container__details__planets {
        grid-template-columns: repeat(3, 1fr);
    }
}
